/* Resetando margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte global */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container para centralizar o conteúdo */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Estilo da navegação */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #007BFF;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
